.mylittlebox {
    /* border: 1px solid black; */
    height: 200px;   
}


.flex-child {
    flex: 1;  
    font-size: x-large; 
    color: black;
}

.big-flex-child {
    flex: 2; 
    margin: 10px;   
}